<!-- add_multiple_users.html -->
{% extends 'base_dashboard.html' %}

{% block welcome_card %}

{% endblock %}

{% block content %}
  <div class="mb-4">
    <div class="card shadow">
      <div class="card-header">
        <h1 class="card-title p-3">Add Multiple Students</h1>
      </div>
      <div class="card-body my-4">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <details>
          <p>Upload CSV file containing student details.</p>
        </details>
          <button type="submit" class="btn btn-primary mt-4">Upload File</button>
          <a href="javascript:history.go(-1)" class="btn btn-secondary mt-4 mx-2">Cancel</a>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
